.basketball {
    width: 50px;
    background: #B54213;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    z-index: 10;
    animation-name: basketball-bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.basketball-shot {
    animation-name: basketball-shot;
}

.scoreboard {
    width: 300px;
    height: 150px;
    background: gray;
    position: absolute;
    left: 36%;
    bottom: 120%;
    justify-content: center;
    font-size: 120px;
    text-align: center;
}

.scoreboard-border {
    height: 80%;
    width: 90%;
    border: solid 5px;
    margin: 3% 0% 1% 3%;
}

.header 
{
    color: white;
    display: none;
}

.show {
    display: block;
}

@keyframes basketball-bounce {
    0%  { top: 0px; }
    25% { top: 50px; }
    /* 50% { top: 20px; }
    75% { top: 10px; } */
    100%{ top: 0px; }
}

@keyframes basketball-shot {
    0%  { left: 50%; top: 0% } 
    10% { left: 45%; top: -25% }
    20% { left: 40%; top: -40% }
    30% { left: 35%; top: -45% }
    40% { left: 30%; top: -48% }
    50% { left: 25%; top: -50% }
    55% { left: 20%; top: -48% }
    60% { left: 15%; top: -42% } 
    65% { left: 12%; top: -40% }  
    70% { left: 10%; top: -38% }  
    75%{ left: 5%; top: -35% }
    80%{ left: 5%; top: -25% }
    85%{ left: 5%; top: -15% }
    90%{ left: 5%; top: 0% }
    95%{ left: 5%; top: -2% }
    100%{ left: 5%; top: 0% }
}

.basketball-line-middle {
    width: 3px;
    position: relative;
    height: 50px;
    background: black;
    left: 5px;
    display: inline-block;
}

.basketball-line-left {
    width: 10px;
    height: 37px;
    position: relative;
    background: transparent;
    border-right: solid black 3px;
    border-radius: 50%/30px;
    display: inline-block;
    bottom: 7px;
}

.basketball-line-right {
    height: 37px;
    width: 17px;
    background: transparent;
    position: relative;
    border-left: solid 3px;
    display: inline-block;
    left: 10px;
    bottom: 7px;
    border-radius: 50%/30px;
}

.basketball-line-horizontal {
    position: relative;
    width: 50px;
    height: 3px;
    background: black;
    bottom: 30px;
}

.basketball-court-parent {
    width: 100%;
    height: 300px;
    perspective: 200px;
    margin-top: 40vh;
}

.basketball-court {
    background: #CAA472;
    position: absolute;
    width: 100%;
    height: 230px;
    transform-style: preserve-3d;
    transform: rotateX(30deg);
}

.basketball-court-lines {
    width: 99%;
    height: 97%;
    border: solid 5px;
}

.basketball-key{
    height: 20%;
    width: 25%;
    border: solid 5px;
    top: 60px;
    padding-bottom: 5px;
    position: relative;
}

.basketball-pole, .basketball-pole-2 {
    width: 300px;
    background: gray;
    position: absolute;
    height: 20px;
    transform: rotateZ(90deg) translate(10px, 110px);
}

.basketball-pole-2 {
    right: -20px;
    transform: rotateZ(90deg) rotateX(181deg) translate(20px, 120px);
    z-index: -1;
}

.basketball-backboard {
    width: 100px;
    background: beige;
    height: 150px;
    position: absolute;
    transform: rotateY(20deg) rotateX(45deg) translate(1px, -130px);
    border: solid 5px;
}


.rim {
    height: 100px;
    width: 100px;
    border: red solid 12px;
    position: absolute;
    border-radius: 50px;
    left: 20px;
    top: 30px;
    transform: rotate3d(1, 1, 1, 137deg) translate(-41px, 133px);
}

.backboard-inner-square {
    width: 60px;
    height: 80px;
    border: solid black 3px;
    position: absolute;
    top: 30px;
    left: 20px;
}

.top-of-key, .top-of-key-2 {
    width: 25%;
    height: 100%;
    border: solid 5px;
    border-radius: 100%;
    margin-left: 87%;
}

.top-of-key-2 {
    margin-left: -17%;
    margin-top: -5px;
}

.basketball-halfcourt {
    width: 20px;
    height: 230px;
    border-right: solid 5px;
    position: relative;
    bottom: 30%;
    left: 50%;
}

.basketball-key-2 {
    width: 24%;
    height: 20%;
    border: solid 5px;
    position: relative;
    left: 75%;
    bottom: 100%;
}


.work-experience {
    color: white;
    padding: 5%;
}

a {
    color: white;
}

body {
    padding-left:10%;
}